@import '/src/styles/variables';
@import '/src/styles/mixin';

.inputContainer {
  gap: 12px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;

  &.primary {
    border: 1px solid $neutral-100;
    background-color: $neutral-100;

    &:hover {
      background-color: $neutral-200;
    }

    &.focus {
      background-color: $neutral-200;
    }
  }

  &.secondary {
    border: 1px solid $neutral-200;


    &:hover {
      border-color: $neutral-250;
    }

    &.focus {
      border-color: $neutral-250;
    }
  }

  &.small {
    padding: 7px 12px;
    width: calc(100% - 26px);
  }

  &.regular {
    padding: 13px 16px;
    width: calc(100% - 34px);
  }

  svg {
    color: $neutral-900;
  }
}

.input {
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
  font-family: $primaryFont;
  transition: all 0.3s ease-in-out;
  color: $neutral-900;

  &.primary {

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 40px $neutral-100 inset;
    }

    &:hover {

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 40px $neutral-200 inset;
      }
    }

    &:focus {

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 40px $neutral-200 inset;
      }
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $neutral-700;
    }

    &::placeholder {
      color: $neutral-300;
    }
  }

  &.secondary {
    &::placeholder {
      color: $neutral-250;
    }
  }

  &.small {
    @include typo(14px, 400, 24px);

    &::placeholder {
      font-size: 14px;
    }
  }

  &.regular {
    @include typo(16px, 400, 28px);

    &::placeholder {
      font-size: 16px;
    }
  }

  /**
  * Remove up/down arrows from number input
  */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}